@{
    ViewData["Title"] = "Bincom Projects";
}

<h2> My Projects </h2>

<!-- Row container to hold cards side by side using Bootstrap's grid system -->
<div class="row">
    <!-- card 1 (CV), two cards per row-->
    <div class="col md-6 mb-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Curriculum Vitae</h5>
                <h6 class="card-subtitle mb-2 text muted">Built with ASP.Net Core MVC</h6>
                <p class="card-text">A clean, professional online CV with contact, skills and project highlights</p>
                <a class="btn btn-primary" asp-controller="CV" asp-action="Index">View My CV</a>
            </div>
        </div>
    </div>
    <!--card 2 (Tax Calculator )-->
    <div class="col md-6 mb-3">
        <div class="card" style="width: 18rem";>
            <div class="card body">
                <h5 class="card-title">Tax Calculator</h5>
                <h6 class="card-subtitle mb-2 text muted">Built with C# MVC</h6>
                <p class="card-text">Simple tax calculator built in ASP.Net Core</p>
                <a class="btn btn-primary" asp-controller="TaxCalculator" asp-action="Index">Tax Calculator Project</a>
            </div>
        </div>
    </div>
</div>


<p><a asp-controller="Portfolio" asp-action="Index"></a> Back To Home</p>